<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hls.dao.ICountryDao">

    <select id="selectMinisterByCountry" resultType="Minister">
        select mid,mname from minister where countryId= #{ooo}
    </select>
    <resultMap id="countryMapper" type="Country">
        <id column="cid" property="cid"/>
        <result column="cname" property="cname"/>
        <collection property="ministers"
                    ofType="Minister"
                    select="selectMinisterByCountry"
                    column="cid">
            <id column="mid" property="mid"/>
            <result column="mname" property="mname"/>
        </collection>
    </resultMap>

    <!--多表连接查询 不能使用延迟加载-->


    <!--<select id="selectCountryById" resultMap="countryMapper">
    select cid,cname,mid,mname
    from country,minister
    where countryid=cid and cid = #{xxx}
    </select>-->


    <!--可使用延迟加载-->

    <select id="selectCountryById" resultMap="countryMapper">
        select cid,cname from country where cid=#{xxx}
    </select>

</mapper>
